body{
    background-color: #FFC300;
    margin: 0;
    padding: 0;
}

header{
    background-color: #b40000;
     height: auto ;
    width: auto ;
    padding: 15px; 
    margin: 10px;
    border-radius: 10px;
}
main{
    background-color: #003566;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
